@font-face {
	font-family: Charlie;
	src: url("./assets/fonts/Charlie_Display-Semibold.woff");
}

@font-face {
	font-family: Charlie-bold;
	src: url("./assets/fonts/Charlie_Text-Bold.woff");
}

@font-face {
	font-family: Charlie-text;
	src: url("./assets/fonts/Charlie_Text-Regular.woff");
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Charlie-text", sans-serif;
	font-weight: 400px;
	line-height: 1.5;
	font-size: 20px;
}

.navbar-menu {
	padding: 1rem;
	justify-content: space-between;
	padding: 1rem;
	align-items: center;
	display: flex;
}

.navbar-logo > a > .navbar-logo-shape {
	width: 25.2px;
	height: 25.18px;
}

.navbar-logo > a > .navbar-logo-text {
	color: #293856;
	width: 126px;
	height: 25px;
	font-family: charlie-bold;
	margin-left: 10px;
	font-size: 35px;
}

.button {
	box-sizing: border-box;
	border: 1px solid rgb(0, 101, 255);
	border-radius: 0.3rem;
	padding: 8px;
	transition: all 250ms ease-out 0s;
	font-size: 1rem;
	background-color: rgb(0, 101, 255);
	color: rgb(255, 255, 255) !important;
}

.button:hover {
	background-color: rgb(0, 82, 204);
	background-color: rgb(0, 82, 204);
}
.button:focus {
	box-shadow: rgb(122 134 154 / 50%) 0px 0px 0px 0.2rem;
}

a {
	cursor: pointer;
	color: rgb(0, 101, 255);
	text-decoration: none;
}

a:active,
a:hover,
a:focus {
	color: rgb(0, 82, 204);
}

a:visited {
	color: rgb(0, 101, 255);
}

#logIn {
	margin-right: 0.75rem;
	font-size: 1rem;
	padding: 0.3rem 0.6rem 0.4rem;
	text-decoration: underline !important;
}

.header {
	background: linear-gradient(rgb(234, 230, 255), rgb(255, 255, 255))
		no-repeat;
}

.header > .main-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header > .main-content > img {
	width: 442.5px;
	height: 573px;
}

h1 {
	color: rgb(9, 30, 66);
	font-size: 3rem;
	line-height: 1.25;
}

.header > .main-content > .description {
	margin-right: 20px;
	width: 632px;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Charlie", sans-serif;
	font-weight: 500;
}

p {
	font-family: "Charlie-text", sans-serif;
	font-size: 20px;
}

.header > .main-content > .description > form > input {
	width: 376px;
	height: 46px;
	box-sizing: border-box;
	padding: 0.4rem 0.75rem 0.5rem;
	margin-right: 1rem;
	border: 1px solid rgb(223, 225, 230);
	font-size: 1.25rem;
	font-family: inherit;
	border-radius: 0.3rem;
}

.header > .main-content > .description > form > input:focus {
	border-color: rgba(0, 101, 255, 0.5);
	box-shadow: rgb(0 101 255 / 15%) 0px 0px 0px 3px;
	outline: none;
}

.header > .main-content > .description > form {
	display: flex;
	margin-top: 50px;
}

.header > .main-content > .description > form > button {
	font-size: 1.25rem;
	padding: 0.4rem 1.5rem 0.5rem;
	width: 206px;
	height: 46px;
}
